<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>site</display-name>

	<!-- <listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/console/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping> -->

	<!-- 管理后台 MVC -->
	<servlet>
		<servlet-name>SiteConsole</servlet-name>
		<servlet-class>org.nutz.mvc.NutServlet</servlet-class>
		<init-param>
			<param-name>modules</param-name>
			<param-value>org.covito.demo.nutz.console.ConsoleModule</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SiteConsole</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>

	<!-- session 销毁时会触发容器中的作用域为"session"的实体销毁 -->
	<listener>
		<listener-class>org.nutz.mvc.NutSessionListener</listener-class>
	</listener>

	<!-- 400错误 -->
	<error-page>
		<error-code>400</error-code>
		<location>/error/403.jsp</location>
	</error-page>
	<!-- 404 页面不存在错误 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<!-- 500 服务器内部错误 -->
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
	<!-- java.lang.Exception -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error/500.jsp</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>