<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>restful</contextName>

	<property name="logbase" value="log" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} %logger{36} %-5level - %msg%n</Pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

