<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>covito-site</contextName>

	<property name="logbase" value="log" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} %logger{36} %-5level - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="site" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logbase}/site-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>10</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %logger{36} %-5level [%class:%line] - %msg%n</pattern>
			<ImmediateFlush>true</ImmediateFlush>
		</encoder>
	</appender>

	<appender name="logger" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logbase}/logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>10</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%class:%line] - %msg%n</pattern>
			<ImmediateFlush>true</ImmediateFlush>
		</encoder>
	</appender>

	<appender name="system" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logbase}/system-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>10</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%class:%line] - %msg%n</pattern>
			<ImmediateFlush>true</ImmediateFlush>
		</encoder>
	</appender>

	<logger name="logger" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="logger" />
	</logger>

	<logger name="system" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="system" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="site" />
	</root>
</configuration>

